
/project_ConmutMatrix
HW/src/tb/util/output.txt
HW/src/ip/AXI_Modulador/vivado.jou
HW/src/ip/AXI_Modulador/vivado.log
*.csv
bd/*
HW/src/ip/ConAXI/*

# Ignore de Vitis
#Workspace files
SW/workspaceVitis/*
SW/workspace/*
#BSP Export (listed contents separately because "export" is a common name)
*/export/

dfx_runtime.txt
HW/src/bd/design_SVM_PS.pdf
/Medicion_Trifasica/Tension/Tension-backups
